.navigation-wrapper{background-color: #3f51b5;padding:5px 20px;}
.navbar-listing {padding: 0px;}
.navbar-listing li{list-style: none;}
.navbar-listing li a{color: #fff;text-decoration: none;}
.matmenu-icon{color: #fff;cursor: pointer;}