<div class="login-wrapper" fxFlexFill="full" fxLayout="row" fxLayoutAlign="center center">
  <div class="login-box-wrapper">
        <h3>Login</h3>

        <form class="example-form" [formGroup]="signUpForm"  (ngSubmit)="onSubmit()"> 
          <div>
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input type="email" matInput  placeholder="Email Id" formControlName ="email" name="email"  required /> 
               <mat-error class="err-msg" *ngIf="!signUpForm.get('email').valid && signUpForm.get('email').touched">Please Enter valid Email Id</mat-error>
             </mat-form-field>

             <mat-form-field class="example-full-width">
              <mat-label>Password:</mat-label>
              <input type="password" matInput  placeholder="Password" formControlName ="password" name="password"  required /> 
               <mat-error class="err-msg" *ngIf="!signUpForm.get('password').valid && signUpForm.get('password').touched">Please Enter valid Email Id</mat-error>
             </mat-form-field>
             
          </div>
          <button mat-raised-button  color="primary" [disabled]="!signUpForm.valid">Submit</button>
          </form>
          
  </div>
</div>
